# Ignore Mac system files
.DS_Store

#ignore node modules
# *node_modules/*
node_modules


# Ignore files related to API keys
# .env

# # Ignore SASS config files
# .sass-cache

# #ignore files with api data
# /client/src/utils/API.js
# /client/node_modules
